#root {
  max-width: 100%;
  margin: 0;
  background-image: url(fridge.png);
  background-size: cover;
  background-size: 100vw; 
}
table {
  min-width: 60vw; 
  overflow-x: auto; 
  border-collapse: collapse;
}
th, td {
  min-width: 6em;
  background-color: #f4f4f4;
  border: 1px solid black;
  padding: 8px;

}
tr {
  border-bottom: 1px solid black;
}
h2 {
  text-align: center;
}

.grid {
  max-width: 100%;
  display: flex; 
  justify-content: space-around; 
  align-items: flex-start; 
  padding: 3em;
  gap: 3em;
}
.day-buttons {
  margin-left:2%;
}
.calendar {
  background-color: #bda081;
  padding: 1em;
  border-radius: 8px;
}
.form_box h2 {
  text-align: center;
  margin-top: 1.5em;
}

.form_box {
  margin: 0 auto;
  max-width: 90%;
  padding: 1vw;
  margin-bottom:1em;
  position: relative;
  background-color: #F0FAB5;
  border-radius: 8px;
  padding-bottom: 1em;
}
.form_box label {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 2vh 0;
}

.form_box input,
textarea {
  width: 95%;
  display: block;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: solid black 1px;

  font-size: 20px;
}
.recipeList {
  background-color: #eec5d6;
  padding: 1em;
  border-radius: 8px;
}

button{
  background: lightgray;
  border: solid black 1px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

input[type=submit]{
  width: 15vw;
  background: lightgray;
  border: solid black 1px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  font-family: 'Comic Sans MS', sans-serif;

}

.submitBtn{
  padding-left: 46%;

}

@media (max-width: 768px) {
  body {
    max-width: fit-content !important;
    overflow-x: hidden;
  }
  th, td {
    min-width: 1em;
  }
  .grid {
    max-width: 100vw;
    flex-direction: column; 
    padding: 0;
    padding-bottom: 5vh;
    justify-content:center; 
    align-items: center; 
  }
  .calendar {
    padding: 1em 0 1em 0;
  }
  input[type=submit]{
    width: 25vw;
  }
  .recipeList {
    padding: 1.5em;
  }
  .form_box {
    padding: 1.1em;
  }
}