#root {
  margin: 0 auto;
}
table {
  max-width: 85vw;
  overflow-x: auto;
  border-collapse: collapse;
}
th, td {
  min-width: 6em;
  background-color: #f4f4f4;
  border: 1px solid black; /* Black border, 1px */
  padding: 8px;

}
tr {
  border-bottom: 1px solid black;
}
h2 {
  text-align: center;
  margin-top: 5em;
}

.grid {
  display: flex; 
  justify-content: space-around; 
  align-items: flex-start; 
  padding: 20px;
}

@media (max-width: 768px) {
  .grid {
    flex-direction: column; 
  }
}
